<a href="https://colab.research.google.com/github/NeelDelivala/21CSS101J-RA2211042010004-Python/blob/main/Python_Data_Analytics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
import json
data_JSON="""{
  "size":"Medium",
  "price":15.67,
  "toppings":["Mushrooms","Extra Cheese","Pepperoni","Basil"],
  "client":{"name":"Jane Doe","phone":"455-344-234","email":"janedoe@gmail.com"}
}"""
print(data_JSON)

{
  "size":"Medium",
  "price":15.67,
  "toppings":["Mushrooms","Extra Cheese","Pepperoni","Basil"],
  "client":{"name":"Jane Doe","phone":"455-344-234","email":"janedoe@gmail.com"}
}

In [ ]:
students_JSON="""{
  "student":[{
      "id":"01",
      "name":"Jane",
      "department":"DSBS",
      "age":20,
      "city":"Delhi"
  },{
      "id":"02",
      "name":"John",
      "department":"ECE",
      "age":19,
      "city":"Mumbai"
  },{
      "id":"03",
      "name":"Jack",
      "department":"CSE",
      "age":21,
      "city":"Bangalore"
  }
  ]
}"""
print(students_JSON)
student_dict=json.loads(students_JSON)
print("\n",student_dict)
print("\nName of student 1:",student_dict['student'][0]['name'])
print("\nAge of student 1:",student_dict['student'][0]['age'])
print("\nCity of student 1:",student_dict['student'][0]['city'])

{
  "student":[{
      "id":"01",
      "name":"Jane",
      "department":"DSBS",
      "age":20,
      "city":"Delhi"
  },{
      "id":"02",
      "name":"John",
      "department":"ECE",
      "age":19,
      "city":"Mumbai"
  },{
      "id":"03",
      "name":"Jack",
      "department":"CSE",
      "age":21,
      "city":"Bangalore"
  }
  ]
}

 {'student': [{'id': '01', 'name': 'Jane', 'department': 'DSBS', 'age': 20, 'city': 'Delhi'}, {'id': '02', 'name': 'John', 'department': 'ECE', 'age': 19, 'city': 'Mumbai'}, {'id': '03', 'name': 'Jack', 'department': 'CSE', 'age': 21, 'city': 'Bangalore'}]}

Name of student 1: Jane

Age of student 1: 20

City of student 1: Delhi

In [ ]:
with open('/content/sample_data/anscombe.json','r') as f:
    data=json.load(f)
print(data)

[{'Series': 'I', 'X': 10.0, 'Y': 8.04}, {'Series': 'I', 'X': 8.0, 'Y': 6.95}, {'Series': 'I', 'X': 13.0, 'Y': 7.58}, {'Series': 'I', 'X': 9.0, 'Y': 8.81}, {'Series': 'I', 'X': 11.0, 'Y': 8.33}, {'Series': 'I', 'X': 14.0, 'Y': 9.96}, {'Series': 'I', 'X': 6.0, 'Y': 7.24}, {'Series': 'I', 'X': 4.0, 'Y': 4.26}, {'Series': 'I', 'X': 12.0, 'Y': 10.84}, {'Series': 'I', 'X': 7.0, 'Y': 4.81}, {'Series': 'I', 'X': 5.0, 'Y': 5.68}, {'Series': 'II', 'X': 10.0, 'Y': 9.14}, {'Series': 'II', 'X': 8.0, 'Y': 8.14}, {'Series': 'II', 'X': 13.0, 'Y': 8.74}, {'Series': 'II', 'X': 9.0, 'Y': 8.77}, {'Series': 'II', 'X': 11.0, 'Y': 9.26}, {'Series': 'II', 'X': 14.0, 'Y': 8.1}, {'Series': 'II', 'X': 6.0, 'Y': 6.13}, {'Series': 'II', 'X': 4.0, 'Y': 3.1}, {'Series': 'II', 'X': 12.0, 'Y': 9.13}, {'Series': 'II', 'X': 7.0, 'Y': 7.26}, {'Series': 'II', 'X': 5.0, 'Y': 4.74}, {'Series': 'III', 'X': 10.0, 'Y': 7.46}, {'Series': 'III', 'X': 8.0, 'Y': 6.77}, {'Series': 'III', 'X': 13.0, 'Y': 12.74}, {'Series': 'III', 'X': 9.0, 'Y': 7.11}, {'Series': 'III', 'X': 11.0, 'Y': 7.81}, {'Series': 'III', 'X': 14.0, 'Y': 8.84}, {'Series': 'III', 'X': 6.0, 'Y': 6.08}, {'Series': 'III', 'X': 4.0, 'Y': 5.39}, {'Series': 'III', 'X': 12.0, 'Y': 8.15}, {'Series': 'III', 'X': 7.0, 'Y': 6.42}, {'Series': 'III', 'X': 5.0, 'Y': 5.73}, {'Series': 'IV', 'X': 8.0, 'Y': 6.58}, {'Series': 'IV', 'X': 8.0, 'Y': 5.76}, {'Series': 'IV', 'X': 8.0, 'Y': 7.71}, {'Series': 'IV', 'X': 8.0, 'Y': 8.84}, {'Series': 'IV', 'X': 8.0, 'Y': 8.47}, {'Series': 'IV', 'X': 8.0, 'Y': 7.04}, {'Series': 'IV', 'X': 8.0, 'Y': 5.25}, {'Series': 'IV', 'X': 19.0, 'Y': 12.5}, {'Series': 'IV', 'X': 8.0, 'Y': 5.56}, {'Series': 'IV', 'X': 8.0, 'Y': 7.91}, {'Series': 'IV', 'X': 8.0, 'Y': 6.89}]

In [ ]:
student_dict2={'student': [{'id': '01', 'name': 'Jane', 'department': None, 'age': 20, 'city': 'Delhi'}, {'id': '02', 'name': 'John', 'department': 'ECE', 'age': 19, 'city': 'Mumbai'}, {'id': '03', 'name': 'Jack', 'department': 'CSE', 'age': 21, 'city': 'Bangalore'}]}
student_json2=json.dumps(student_dict2)
print(student_json2)

{"student": [{"id": "01", "name": "Jane", "department": null, "age": 20, "city": "Delhi"}, {"id": "02", "name": "John", "department": "ECE", "age": 19, "city": "Mumbai"}, {"id": "03", "name": "Jack", "department": "CSE", "age": 21, "city": "Bangalore"}]}

In [ ]:
person_dict={"name":"Bob","languages":["English","French"]}
person_json=json.dumps(person_dict)